---

---

<div
  aria-hidden="true"
  class="mask-gradient pointer-events-none fixed inset-x-0 -top-px z-40 h-28 backdrop-blur before:absolute before:inset-0 before:bg-eased-gradient before:from-neutral-200 before:to-transparent"
>
</div>
