---
import { twMerge } from "tailwind-merge";
import { focusClasses } from "../../../_utils";
import ArrowUpRight from "../../../icons/arrow-up-right.astro";
import H2 from "../../../typography/h2.astro";
import Paragraph from "../../../typography/paragraph.astro";

interface Props {
	link: string;
	title: string;
	description: string;
}

const { link, title, description } = Astro.props;

const isAbsoluteURL = link.includes("//");
---

<a
  href={link}
  target={isAbsoluteURL ? "_blank" : undefined}
  rel={isAbsoluteURL ? "noreferrer" : undefined}
  class={twMerge(
    focusClasses,
    "group flex gap-4 rounded-md px-3 py-2 transition-colors hover:bg-neutral-200 focus-visible:bg-neutral-200"
  )}
>
  <article class="grow">
    <H2 element="h1" class="mb-1">{title}</H2>
    <Paragraph>{description}</Paragraph>
  </article>
  <span
    aria-hidden="true"
    class="rotate-45 group-hover:rotate-0 size-8 shrink-0 grow-0 rounded-full bg-neutral-200 p-2.5 text-neutral-600 transition-[background-color,color,transform] group-hover:bg-neutral-100 group-focus-visible:bg-neutral-100"
  >
    <ArrowUpRight />
  </span>
</a>
