---
import Paragraph from "../typography/paragraph.astro";
import Small from "../typography/small.astro";
---

<Paragraph class="flex items-center gap-[1ch] text-platinum text-opacity-70">
  <span
    aria-hidden="true"
    class="flex h-2 w-2 items-center justify-center rounded-full bg-[oklch(76.86%_0.157_143.87)] before:relative before:-z-10 before:h-4 before:min-w-[1rem] before:animate-ping before:rounded-full before:bg-radar"
  ></span>
  <Small class="text-neutral-800">Open to new job opportunities</Small>
</Paragraph>
